/.idea
/.git
/.docker
/node_modules
/vendor

.DS_Store
.editorconfig
.env.example
.gitattributes
.gitignore
.styleci.yml
Dockerfile
Dockerfile.prod
docker-compose.yaml
readme.md

# Application temporary files, caches, logs
bootstrap/cache/*
database/database.*
storage/logs/*
storage/coverage
storage/*log*xml
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/*.key
*.cache
